.Container {
	max-width: 80%;
	height: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	position: relative;
	background-color: #c5301f;
	box-shadow: 4px 4px 20px 2px rgba(102, 19, 19, 0.6);
}
@media (max-width: 425px) {
	.Container {
		padding: 20px 0px;
	}
}
